USE [MULTI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AMARRA_FACTURA]
(
	@CALMA			CHAR(4),
	@CTD			CHAR(2),
	@CNUMDOC		CHAR(11),
	@TIPDOC			CHAR(2),
	@NUMFACTURA		CHAR(20),
	@CODUSUARIO		VARCHAR(15)
)
AS
SET NOCOUNT ON

IF EXISTS(SELECT * FROM RS_ALMOVC WHERE C5_CALMA=@CALMA AND C5_CTD=@CTD AND C5_CNUMDOC=@CNUMDOC )
	UPDATE RS_ALMOVC
	SET CP_CTIPDOC=@TIPDOC,
		CP_CNUMDOC=@NUMFACTURA,
		FECMOD = GETDATE(),
		CODUSUMOD = @CODUSUARIO
	WHERE C5_CALMA=@CALMA AND C5_CTD=@CTD AND C5_CNUMDOC=@CNUMDOC
ELSE
	INSERT INTO 
		RS_ALMOVC (C5_CALMA,		C5_CTD,		C5_CNUMDOC,		CP_CTIPDOC,		CP_CNUMDOC,	FECCREA,    CODUSUCRE)
		VALUES (@CALMA,		@CTD,		@CNUMDOC,		@TIPDOC,		@NUMFACTURA,GETDATE(),	@CODUSUARIO)
