USE [MULTI]
GO
/****** Object:  StoredProcedure [dbo].[AVIOS_PO_GUIA]    Script Date: 07/25/2014 17:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AVIOS_PO_GUIA] 
	@PO VARCHAR(50),
	@can numeric
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   SELECT DISTINCT POS.PO, POS.CLIENTE, PD.CODIGO, 
   replace(replace( replace(replace(LTRIM(RTRIM(VA.DESCRIPCION)),',', ' - '), '  ' , ' '),'  ', ' '),'  ',' ') AS DESCRI, 
LTRIM(RTRIM(PD.ADICIONAL)) AS ADIC, isnull(PD.CONSUMO,0) * @can as CONSUMO, VA.CODUNI
FROM  MODELADOR..[PROTO-DETALLES] AS PD 
INNER JOIN  MODELADOR..COTIZACION AS CC ON PD.PROTO = CC.PROTO AND PD.VERSION = CC.VERSION 
INNER JOIN	MODELADOR..POS ON CC.COTIZACION = POS.COTIZACION
INNER JOIN 	MODELADOR..VIEW_AVIOS AS VA ON VA.CODIGO = PD.CODIGO
WHERE (PD.TIPODETALLE = 'AV') and CODTIP ='C' AND PO = @PO
END
-- select * from MODELADOR..[PROTO-DETALLES] where consumo is null