USE MULTI
GO
/****** Object:  Table [dbo].[RS_ALMOV_UBICACION]    Script Date: 08/17/2013 17:31:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RS_ALMOV_UBICACION0001](
	[CUBICACION] [char](4) NOT NULL,
	[CALMA] [char](4) NOT NULL,
	[CESTANTE] [varchar](10) NOT NULL,
	[FILA] [varchar](3) NOT NULL,
	[COLUMNA] [smallint] NULL,
 CONSTRAINT [PK_RS_ALMOV_UBICACION0001] PRIMARY KEY CLUSTERED 
(
	[CUBICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


CREATE TABLE [dbo].[RS_ALMOV_UBICACION0002](
	[CUBICACION] [char](4) NOT NULL,
	[CALMA] [char](4) NOT NULL,
	[CESTANTE] [varchar](10) NOT NULL,
	[FILA] [varchar](3) NOT NULL,
	[COLUMNA] [smallint] NULL,
 CONSTRAINT [PK_RS_ALMOV_UBICACION0002] PRIMARY KEY CLUSTERED 
(
	[CUBICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


CREATE TABLE [dbo].[RS_ALMOV_UBICACION0006](
	[CUBICACION] [char](4) NOT NULL,
	[CALMA] [char](4) NOT NULL,
	[CESTANTE] [varchar](10) NOT NULL,
	[FILA] [varchar](3) NOT NULL,
	[COLUMNA] [smallint] NULL,
 CONSTRAINT [PK_RS_ALMOV_UBICACION0006] PRIMARY KEY CLUSTERED 
(
	[CUBICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[RS_ALMOV_UBICACION0008](
	[CUBICACION] [char](4) NOT NULL,
	[CALMA] [char](4) NOT NULL,
	[CESTANTE] [varchar](10) NOT NULL,
	[FILA] [varchar](3) NOT NULL,
	[COLUMNA] [smallint] NULL,
 CONSTRAINT [PK_RS_ALMOV_UBICACION0008] PRIMARY KEY CLUSTERED 
(
	[CUBICACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

INSERT INTO [RS_ALMOV_UBICACION0001] SELECT * FROM MODELADOR..[RS_ALMOV_UBICACION]
INSERT INTO [RS_ALMOV_UBICACION0002] SELECT * FROM MODELADOR..[RS_ALMOV_UBICACION]
INSERT INTO [RS_ALMOV_UBICACION0006] SELECT * FROM MODELADOR..[RS_ALMOV_UBICACION]
INSERT INTO [RS_ALMOV_UBICACION0008] SELECT * FROM MODELADOR..[RS_ALMOV_UBICACION]