USE [MULTI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RS_USUALM0001](
	[CALMA] [char](4) NOT NULL,
	[CUSUARIO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_RS_USUALM0001] PRIMARY KEY CLUSTERED 
(	[CALMA] ASC,
	[CUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[RS_USUALM0002](
	[CALMA] [char](4) NOT NULL,
	[CUSUARIO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_RS_USUALM0002] PRIMARY KEY CLUSTERED 
(	[CALMA] ASC,
	[CUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[RS_USUALM0003](
	[CALMA] [char](4) NOT NULL,
	[CUSUARIO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_RS_USUALM0003] PRIMARY KEY CLUSTERED 
(	[CALMA] ASC,
	[CUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[RS_USUALM0004](
	[CALMA] [char](4) NOT NULL,
	[CUSUARIO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_RS_USUALM0004] PRIMARY KEY CLUSTERED 
(	[CALMA] ASC,
	[CUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[RS_USUALM0005](
	[CALMA] [char](4) NOT NULL,
	[CUSUARIO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_RS_USUALM0005] PRIMARY KEY CLUSTERED 
(	[CALMA] ASC,
	[CUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[RS_USUALM0006](
	[CALMA] [char](4) NOT NULL,
	[CUSUARIO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_RS_USUALM0006] PRIMARY KEY CLUSTERED 
(	[CALMA] ASC,
	[CUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[RS_USUALM0007](
	[CALMA] [char](4) NOT NULL,
	[CUSUARIO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_RS_USUALM0007] PRIMARY KEY CLUSTERED 
(	[CALMA] ASC,
	[CUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
CREATE TABLE [dbo].[RS_USUALM0008](
	[CALMA] [char](4) NOT NULL,
	[CUSUARIO] [varchar](15) NOT NULL,
 CONSTRAINT [PK_RS_USUALM0008] PRIMARY KEY CLUSTERED 
(	[CALMA] ASC,
	[CUSUARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


INSERT INTO [RS_USUALM0001] SELECT * FROM MODELADOR..RS_USUALM

GO

SET ANSI_PADDING OFF
INSERT INTO [RS_USUALM0002] SELECT * FROM MODELADOR..RS_USUALM
INSERT INTO [RS_USUALM0006] SELECT * FROM MODELADOR..RS_USUALM
INSERT INTO [RS_USUALM0008] SELECT * FROM MODELADOR..RS_USUALM
update [RS_USUALM0001] set cusuario = 'SIST' WHERE CUSUARIO = 'SISTEMAS'
update [RS_USUALM0002] set cusuario = 'SIST' WHERE CUSUARIO = 'SISTEMAS'
update [RS_USUALM0006] set cusuario = 'SIST' WHERE CUSUARIO = 'SISTEMAS'
update [RS_USUALM0008] set cusuario = 'SIST' WHERE CUSUARIO = 'SISTEMAS'


