USE [MULTI]
GO
/****** Object:  StoredProcedure [dbo].[JALA_DOCUMENTOS]    Script Date: 10/15/2013 11:27:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[JALA_DOCUMENTOS]
(	@CALMA		char(4),
	@CTD		char(2),
	@CNUMDOC	char(11),
	@TBL1		VARCHAR(50),
	@TBL2		VARCHAR(50),
	@TBL3		VARCHAR(50),
	@TBL4		VARCHAR(50)
)
AS
set nocount on
Declare @SQL nvarchar(max)
Set @SQL = ' Select Top 1 * Into  #CAB  From ' + (@TBL1)  
SET @SQL = @SQL + ' Where c5_calma='+''''+  @calma + '''' + 'and c5_ctd=' +''''+ @ctd+'''' + ' and c5_cnumdoc= '+''''+ @CNUMDOC+''''
SET @SQL = @SQL + ' AND C5_CCODAUT='''' AND C5_CSITUA<>''A'' '
SET @SQL = @SQL + '	Select C6_CALMA, C6_CTD, C6_CNUMDOC, C6_CITEM, C5_DFECDOC, C5_CRFTDOC, C5_CRFNDOC, C5_CTIPMOV, C5_CCODMOV, '
SET @SQL = @SQL + '	C6_CCODIGO, C6_CDESCRI, C6_NCANTID, C6_NCANTID AS NCANTIDPROV, C5_CCODPRO, C5_CNOMPRO, C5_CNUMORD Into #DETALLE '
SET @SQL = @SQL + '	From ' + (@TBL2)
SET @SQL = @SQL + ' INNER JOIN  #CAB ON (C6_CALMA=C5_CALMA AND C6_CTD=C5_CTD AND C6_CNUMDOC=C5_CNUMDOC)  '
SET @SQL = @SQL + ' DELETE #DETALLE WHERE C6_CCODIGO IN(''TXT'',''.'') '
SET @SQL = @SQL + ' DELETE ' + @tbl4 + ' WHERE CALMA+CTD+CNUMDOC+CITEM IN (SELECT  CALMA+CTD+CNUMDOC+CITEM FrOM #DETALLE)'
SET @SQL = @SQL + ' DELETE ' + @tbl3 + ' WHERE CALMA+CTD+CNUMDOC+CITEM IN (SELECT  CALMA+CTD+CNUMDOC+CITEM FrOM #DETALLE)'
SET @SQL = @SQL + ' Insert into ' + (@TBL3)
SET @SQL = @SQL + ' (CALMA,CTD,CNUMDOC,CITEM,DFECDOC,CRFTDOC,CRFNDOC,CTIPMOV,CCODMOV, '
SET @SQL = @SQL + ' CCODIGO, CDESCRI, NCANTID, NCANTIDPROV, CCODPROV, CNOMPROV, CNUMORD, ESTADO) '
SET @SQL = @SQL + ' Select *, ''V'' AS ESTADO From  #DETALLE   ; '
SET @SQL = @SQL + ' UPDATE ' + (@TBL1)
SET @SQL = @SQL + ' SET C5_CCODAUT=''S'''
SET @SQL = @SQL + ' FROM ' + (@TBL1)
SET @SQL = @SQL + ' A INNER JOIN  #CAB   B on(A.C5_CALMA=B.C5_CALMA AND A.C5_CTD=B.C5_CTD AND A.C5_CNUMDOC=B.C5_CNUMDOC)'
--print @sql
exec sp_executesql @sql

--